nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    
}
nav li:hover{
    background-color: rgb(0, 255, 128); 
    border-radius: 20%;
}
nav li a{
    text-decoration: none;
    color: black;
       text-align: center;
}


/* nemo style */
nav li .dropdown{
    display: none;
    position: absolute;
    padding-left: 2px;

}
nav li:hover .dropdown{
    background-color: rgb(172, 169, 165);
    display: block;
}