

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    
}
nav li:hover{
    background-color: rgb(0, 255, 128);
  
}
nav li a{
    text-decoration: none;
    color: black;
       text-align: center;
}